body {
  background-color: #FBF9FA;}
h1 {
  font-size: 20;
  color: #A80038;
}
h2 {
  font-size: 16;
  color: #2B2024;
}
ol,
ul {
    font-size: 16px;
    color: rgb(30, 60, 210);
    padding: 10px;
}

li {
    font-size: 14px;
    margin: 10px;
}

