body {
  background-color: #FBF9FA;}
h1 {
  font-size: 20px;
  color: #A80038;
}
h2 {
  font-size: 16px;
  color: #2B2024;
}
ol,
ul {
    font-size: 16px;
    color: #FD0054;
    padding: 10px;
}

li {
    font-size: 14px;
    margin: 10px;
}

