body {
  background-color: #DCDCDC;}
h1 {
  font-size: 20px;
  color: #A80038;
}
h2 {
  font-size: 16px;
  color: #2B2024;
}
ol,
ul {
    font-size: 16px;
    color: #FF0000;
    padding: 10px;
}

li {
    font-size: 14px;
    margin: 10px;
}

